@model UpdateEmployeeViewModel
@{
    var title = "Personel Güncelle";
    ViewData["Title"] = title;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@title</h3>
                    </div>
                    <form method="post" asp-action="update">
                        <input asp-for="Id" type="hidden" />
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <input asp-for="FirstName" class="form-control" type="text" placeholder="First Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <input asp-for="LastName" class="form-control" type="text" placeholder="Last Name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <input asp-for="Title" class="form-control" type="text" placeholder="Title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <input asp-for="Email" class="form-control" type="email" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <input asp-for="PhoneNumber" class="form-control" type="text" placeholder="(000) 000 0000" id="phoneNumber">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <select asp-for="DepartmentId" asp-items="ViewBag.Departments" class="form-control"></select>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" value="Submit">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#phoneNumber').mask('(000) 000 0000');
    });
</script>